<a href="https://colab.research.google.com/github/Saurabh178/Data_Science/blob/master/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print('Data','Science','Mentorship','Program', sep='-', end='-')
print('By','CampusX', sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
celsius=int(input("Enter Temperature in Celsius: "))
fahrenheit=celsius*(9/5)+32
print('Temperature in Fahrenheit is: ',fahrenheit)

Enter Temperature in Celsius: -40
Temperature in Fahrenheit is:  -40.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
a =int(input("Enter First Number: "))
b=int(input("Enter Second Number: "))
print("a: ",a," b: ",b)
print("Numbers after swapping")
tmp=a
a=b
b=tmp
print("a: ",a," b: ",b)

Enter First Number: 3
Enter Second Number: 8
a:  3  b:  8
Numbers after swapping
a:  8  b:  3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
import math
x1=int(input("Enter Distance x1: "))
y1=int(input("Enter Distance y1: "))
x2=int(input("Enter Distance x2: "))
y2=int(input("Enter Distance y2: "))

dis=(x2-x1)**2+(y2-y1)**2
print(math.sqrt(dis))

Enter Distance x1: 0
Enter Distance y1: 4
Enter Distance x2: 6
Enter Distance y2: 2
6.324555320336759

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
principal=2000
rate=6
time=3
SI=principal*rate *time/100
print(SI)

360.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here
heads=0
legs=0

dogs=(legs-2*heads)/2
chicken=heads-dogs
print("Dogs: ",dogs,"Chicken: ",chicken)

Dogs:  0.0 Chicken:  0.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here
n=int(input("Enter number:" ))
res=n*(n+1)/2
print(res)

Enter number:6
21.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
a0=2
a1=5
n=100
d=a1-a0
an=a0+(n-1)*d
print(an)

299

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here
n1=int(input("Enter numerator1: "))
d1=int(input("Enter denominator1: "))
n2=int(input("Enter numerator2: "))
d2=int(input("Enter denominator2: "))

res=(n1*d2+n2*d1)/(d1*d2)
print(res)

Enter numerator1: 1
Enter denominator1: 3
Enter numerator2: 1
Enter denominator2: 3
0.6666666666666666

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
print("Enter details of tank")
ht=int(input("Enter height: "))
l=int(input("Enter lenght: "))
b=int(input("Enter bredth: "))

print("Enter details of glass")
hg=int(input("Enter height: "))
r=int(input("Enter radius: "))
pi=22/7

volTank=ht*l*b
volGlass=pi*r**2*hg

res=int(volTank/volGlass)
print("Number of Glasses: ",res)

Enter details of tank
Enter height: 20
Enter lenght: 20
Enter bredth: 20
Enter details of glass
Enter height: 3
Enter radius: 1
Number of Glasses:  848