<a href="https://colab.research.google.com/github/Saurabh178/Data_Science/blob/master/session_16_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###`Q-1:` Write a program to create an empty series.

In [4]:
# code here
import numpy as np
import pandas as pd

a=[]
pd.Series(a, name='Empty series')

<ipython-input-4-b61b2b669778>:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series(a, name='Empty series')

Series([], Name: Empty series, dtype: float64)

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [9]:
# code here
a=pd.Series([1,2,3])
b=pd.Series([2,4,6])

print(a+b)
print(a-b)
print(a*b)
print(a/b)

0    3
1    6
2    9
dtype: int64
0   -1
1   -2
2   -3
dtype: int64
0     2
1     8
2    18
dtype: int64
0    0.5
1    0.5
2    0.5
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [12]:
# code here
a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series([1, 3, 5, 7, 10])

a[a==b]

4    10
dtype: int64

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [56]:
# code here
series = pd.Series([1,2,'Python', 2.0, True, 100])

res=pd.to_numeric(series, errors='coerce')
res

0      1.0
1      2.0
2      NaN
3      2.0
4      1.0
5    100.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

In [16]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

###`Q-6` Find top 10 most run getter from the series.

In [50]:
# code here
batsman=pd.read_csv('/content/batsman_runs_series.csv', index_col='batter', squeeze=True)
batsman.sort_values(ascending=False).head(10)

<ipython-input-50-51ba6e5ce7d3>:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  batsman=pd.read_csv('/content/batsman_runs_series.csv', index_col='batter', squeeze=True)

batter
V Kohli           6634
S Dhawan          6244
DA Warner         5883
RG Sharma         5881
SK Raina          5536
AB de Villiers    5181
CH Gayle          4997
MS Dhoni          4978
RV Uthappa        4954
KD Karthik        4377
Name: batsman_run, dtype: int64

###`Q-7` No of players having runs above 3000

In [52]:
# code here
batsman[batsman>3000].count()

20

###`Q-8` No of players having runs above mean value?

In [53]:
# code here
batsman[batsman>batsman.mean()].count()

128

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [ ]:
# code here

###`Q-10`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [ ]:
# code here